<!DOCTYPE html>
<html lang="en">

<head>
  <title>GardenLogger</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>

</head>

<body>


<div class="jumbotron">
  <h1>GardenLogger</h1>
  <p>Gardenlogger is a website (that runs on a web server on the Internet)
     that accepts temperature readings (from sensors attached to a Raspberry Pi) in the home...</p>
</div>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link .active" href="index.php">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Recent
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="recent.php?Duration=1h">Hour</a>
        <a class="dropdown-item" href="recent.php?Duration=4h">4 hours</a>
        <a class="dropdown-item" href="recent.php?Duration=12h">12 hours</a>
        <a class="dropdown-item" href="recent.php?Duration=24h">Day</a>
        <a class="dropdown-item" href="recent.php?Duration=7d">Week</a>
        <a class="dropdown-item" href="recent.php?Duration=1mo">Month</a>
        <a class="dropdown-item" href="recent.php?Duration=1y">Year</a>
        <a class="dropdown-item" href="recent.php?Duration=100y">All time</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="table.php">All readings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="managesensors.php">Manage sensors</a>
    </li>
  </ul>
</nav>
