<div class='container'>
    <h1>Sensors</h1>
    {{#updated}}
        <div class="alert alert-success">
            <p>Updated OK</p>
        </div>
    {{/updated}}
    <table class='table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Current name</th>
                <th>New Name</th>
                <th/>
            </tr>
        </thead>
        {{#all}}
        <tr>
            <form action="managesensors.php" method="POST">
                <input type="hidden" name="sensor" value="{{Sensor}}"/>
                <input type="hidden" name="oldname" value="{{Sensor}}"/>
                <td>{{Sensor}}</td>
                <td>{{SensorName}}</td>
                <td><input type="text" name="sensorname" value="{{SensorName}}"/></td>
                <td><button class="btn btn-primary" name="action" value="Edit" type="Submit" value="Update name">Update name for new readings</button></td>
                <td><button class="btn btn-primary" name="action" value="Backfill" type="Submit">Backfill data to new name</button></td>
            </form>
        </tr>
        {{/all}}
    </table>
</div>
